<div class="container mt-5 mb-5">
    <div class="row no-gutters">
        <div class="col-md-4 col-lg-4"><img src="https://i1.rgstatic.net/ii/profile.image/272184534892581-1441905258845_Q512/Ezzeddine-Zagrouba.jpg"></div>
        <div class="col-md-8 col-lg-8">
            <div class="d-flex flex-column">
                <div class="d-flex flex-row justify-content-between align-items-center p-5 bg-dark text-white">
                    <h3 class="display-5">Zagrouba Ezzeddine</h3><i class="fa fa-facebook"></i><i class="fa fa-google"></i><i class="fa fa-youtube-play"></i><i class="fa fa-dribbble"></i><i class="fa fa-linkedin"></i></div>
                <div class="p-3 bg-black">
                    <h6 class="text-dark">Pr. of Computer Science - Director of LimTic Lab, UTM - Tunisia</h6>
                </div>
                <div class="d-flex flex-row text-white">
                    <div class="p-4 bg-primary text-center skill-block">
                       
                        <h6>Artificial Intelligence</h6>
                    </div>
                    <div class="p-3 bg-success text-center skill-block">
                       
                        <h6>Machine Learning</h6>
                    </div>
                    <div class="p-3 bg-warning text-center skill-block">
    
                        <h6>Computer Vision</h6>
                    </div>
                    <div class="p-3 bg-danger text-center skill-block">
                      
                        <h6>Image Mining</h6>
                    </div>
                    <div class="p-3 bg-success text-center skill-block">
                        <h6>Pattern Recognition</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-md-9">
                <div class="ibox">
                    <div class="ibox-title">
                        <span class="pull-right">(<strong>5</strong>) items</span>
                        <h5>Items in your cart</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table shoping-cart-table">
                                <tbody>
                                <tr>
                                   
                                    <td class="desc">
                                        <h3>
                                        <a href="#" class="text-dark">
                                            Abnormal behavior recognition for intelligent video surveillance systems: A review
                                        </a>
                                        </h3>
                                        <p class="small">
                                            With the increasing number of surveillance cameras in both indoor and outdoor locations, there is a grown demand for an intelligent system that detects abnormal events. Although human action recognition is a highly reached topic in computer vision, abnormal behavior detection is lately attracting more research attention. Indeed, several systems are proposed in order to ensure human safety. In this paper, we are interested in the study of the two main steps composing a video surveillance system which are the behavior representation and the behavior modeling. Techniques related to feature extraction and description for behavior representation are reviewed. Classification methods and frameworks for behavior modeling are also provided. Moreover, available datasets and metrics for performance evaluation are presented. Finally, examples of existing video surveillance systems used in real world are described.
                                        </p>
                                        <dl class="small m-b-none">
                                            <dt>Auteurs</dt>
                                            <dd>Amira Ben Mabrouk, Ezzeddine Zagrouba</dd>
                                            <dd>Expert Systems with Applications 91, 480-491 </dd>
                                        </dl>
                                        
    
    
                                        <div class="m-t-sm">
                                            <a href="#" class="text-muted"><i class="fa fa-calendar"></i> 2018/1/1 </a>
                                        </div>
                                    </td>
    
                                  
                                </tr>
                                <tr>
                                   
                                    <td class="desc">
                                        <h3>
                                        <a href="#" class="text-dark">
                                            Multimodal medical image fusion review: Theoretical background and recent advances
                                        </a>
                                        </h3>
                                        <p class="small">
                                            Multimodal medical image fusion consists in combining two or more images of the same or different modalities aiming to improve the image content, and preserve information. The rapid advance in medical imaging techniques (Computed Tomography (CT), Positron Emission Tomography (PET), Magnetic Resonance Imaging (MRI), Single Photon Emission Computed Tomography (SPECT)) has attracted researcher’s attention to fuse different modalities in order to assist experts decision making during the aided-diagnosis pipeline. Moreover, the fused results may help boosting other tasks such as classification, detection and segmentation. The main objective of this work is to provide a comprehensive overview of medical image fusion methods with theoretical background and recent advances. To do so, we present a detailed literature panorama of medical image fusion. The pixel-level, feature-level and decision …
                                        </p>
                                        <dl class="small m-b-none">
                                            <dt>Auteurs</dt>
                                            <dd>Haithem Hermessi, Olfa Mourali, Ezzeddine Zagrouba</dd>
                                            <dd>Signal Processing 183, 108036 </dd>
                                        </dl>
                                        
    
    
                                        <div class="m-t-sm">
                                            <a href="#" class="text-muted"><i class="fa fa-calendar"></i> 2021/6/1</a>
                                        </div>
                                    </td>
    
                                  
                                </tr>
                                </tbody>
                            </table>
                        </div>
    
                    </div>
                  
                   
                </div>
    
            </div>
           
        </div>
    </div>
    </div>